@model TDanhMucSp
<div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
    <div class="featured__item">
        <div class="featured__item__pic set-bg" data-setbg=@Url.Content("../ProductsImages/Images/"+Model.AnhDaiDien) style="background-image: url(&quot;img/featured/feature-1.jpg&quot;);">
            <ul class="featured__item__pic__hover">
                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                <li><a href="#" onclick="addToCart('@Model.MaSp')"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
        </div>
        <div class="featured__item__text">
            <h6><a asp-controller="Home" asp-action="ProductDetail" asp-route-maSP="@Model.MaSp">@Model.TenSp</a></h6>
            <h5>@Model.GiaLonNhat</h5>
        </div>
    </div>
</div>
