@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model WebBanVaLi.Areas.Admin.Models.Sanpham

@{
    ViewData["Title"] = "ThemSanPhamMoi";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thêm mới sản phẩm</h2>

<h4>Thông tin sản phẩm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="ThemSanPhamMoi" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Mã sản phẩm</label>
                <input asp-for="MaSp" class="form-control" />
                <span asp-validation-for="MaSp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Tên sản phẩm</label>
                <input asp-for="TenSp" class="form-control" />
                <span asp-validation-for="TenSp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Mã chất liệu</label>
                <select style="height:46px" asp-for="MaChatLieu" class ="form-control" asp-items="ViewBag.MaChatLieu"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Model</label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Cân nặng (kg)</label>
                <input asp-for="CanNang" class="form-control" />
                <span asp-validation-for="CanNang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Độ nới (cm)</label>
                <input asp-for="DoNoi" class="form-control" />
                <span asp-validation-for="DoNoi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Mô tả sản phẩm</label>
                <input asp-for="GioiThieuSp" class="form-control" />
                <span asp-validation-for="GioiThieuSp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Mã hãng sản xuất</label>
                <select style="height:46px" asp-for="MaHangSx" class="form-control" asp-items="ViewBag.MaHangSx"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Mã nước sản xuất</label>
                <select style="height:46px" asp-for="MaNuocSx" class="form-control" asp-items="ViewBag.MaNuocSx"></select>
            </div>
            
            <div class="form-group">
                <label class="control-label">Thời gian bảo hành (tháng)</label>
                <input asp-for="ThoiGianBaoHanh" class="form-control" />
                <span asp-validation-for="ThoiGianBaoHanh" class="text-danger"></span>
            </div>
 
            <div class="form-group">
                <label class="control-label">Mã loại</label>
                <select style="height:46px" asp-for="MaDt" class="form-control" asp-items="ViewBag.MaDt"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Ảnh</label>
                <input type="file" asp-for="AnhDaiDien" class="form-control" id="fileInput" />
                <span asp-validation-for="AnhDaiDien" class="text-danger"></span>
            </div>

            <img id="previewImage" style="max-width: 300px; max-height: 300px; margin-bottom:30px; background:white" />

            <script>
                document.getElementById('fileInput').addEventListener('change', function (e) {
                    var fileInput = e.target;
                    var previewImage = document.getElementById('previewImage');

                    var file = fileInput.files[0];
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        previewImage.src = e.target.result;
                    };

                    reader.readAsDataURL(file);
                });
            </script>
            <div class="form-group">
                <label class="control-label">Giá (VNĐ)</label>
                <input asp-for="GiaLonNhat" class="form-control" />
                <span asp-validation-for="GiaLonNhat" class="text-danger"></span>
            </div>
            <div style="display:flex">
                <a asp-action="Index"><button type="button" class="btn btn-outline-primary">Trở lại</button></a>
                <div class="form-group">
                    <input style="background:#198754" class="btn btn-success" type="submit" value="Tạo" class="btn btn-primary" />
                </div>
            </div>

        </form>
    </div>
</div>

